.navbar {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;

  .logoArea {
      font-size: 30px;
      font-weight: bolder;
      margin-right: 60px;
    }

    .linkArea {
      a {
        font-size: 18px;
        padding: 0 20px;
        color: dimgray;
      }
        .active {
          color: rgba(72, 31, 236, 0.939);
        }
    }
        .operationArea {
          margin-left: 150px;
    
          button {
            margin-right: 20px;
          }
        }
}